<div id="monster_templates_title" class="section_title">
	Monster Templates
	<%= link_to "+", new_monster_template_path, :id => "new_monster_template_button"%>
</div>
<div id="monter_templates" class="section_content">
	<%= render :partial => "monster_list"%>
</div>