<div id="adding_damage_to">
  Adding damage to...
</div>
<div id="adding_damage_controls">
  <%= text_field_tag "add_damage_text", ""%>
  <a href="#" id="add_damage_button" class="add_damage_button">Damage</a>
  <a href="#" id="cancel_damage_button" class="add_damage_button">Cancel</a>
</div>
  