<%= form_tag add_monsters_path(:id => @battle.id), :id => "monster_select_form", :class => "creature_select_form", :remote => true, "data-type" => "html" do %>
<div id="monster_select_viewing_box" class="creature_select_viewing_box">
  <ul id="monster_select_list" class="creature_select_list">
    <% @monsters.each do |m|%>
      <li>
        <div class="creature_name"><%= m.name %></div>
        <div class="creature_quality"><%= text_field_tag "monsters[#{m.id}]", "0", :class => "creature_quality_text monster_quantity_text"%></div>
      </li>
    <% end %>
  </ul>
</div>
<div id="monster_select_controls" class="creature_select_controls">
  <a href="#" id="add_monsters_button" class="add_creatures_button">Add</a>
  <a href="#" id="hide_add_monsters_button" class="hide_add_creatures_button">Cancel</a>
</div>
<% end %>