# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://jashkenas.github.com/coffee-script/
<% url = InitiativeTracker::Application.routes.url_helpers %>
$ ->
	$('.editable_battle_name').editable('<%= url.edit_battle_name_path %>', {
		indicator	: "Saving...",
		tooltip		: "Double-click to edit",
		name		: "name",
		event		: "dblclick"
	});
	
	$('#initiative_list').sortable();
	$('#initiative_list').disableSelection();
	$('#initiative_list li').bind("mousedown", ->
	  $(this).css("color", "#FFF");
	);
		  
	$(document).bind('keypress', 'ctrl+p', random_roll);

random_roll = ->
  if $("#rolls li").length > 15
    $('#rolls li:last').remove();
  roll = parse_roll("1d4+5");
  $("#rolls").prepend('<li>'+roll+'</li>');
  
parse_roll = (roll_string)->
  sum = 0;
  separated_rolls = roll_string.split("+");
  
  for roll in separated_rolls
    split_roll = roll.split("d");
    
    if split_roll.length == 2
      multiplier = split_roll[0];
      die_size = split_roll[1];
      for i in [0...multiplier] by 1
        sum += Math.floor((Math.random()*die_size)+1);
        
    if split_roll.length == 1
      sum += parseInt(split_roll[0]);
      
  return sum;