@import "rounded";

a#new_monster_template_button {
    position: absolute;
    right: 0px;
    width: 100px;
    color: #FFF;
    text-decoration: none;
    background-color: rgba(30,30,30,0.7);
    @include rounded;
}
ul.monster_list {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
ul.monster_list li {
    margin-bottom: 15px;
}
ul.monster_list a {
    display: inline-block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 2em;
    color: #FFF;
    text-decoration: none;
    background-color: rgba(30,30,30,0.7);
    vertical-align: top;
    @include rounded;
}
ul.monster_list a.edit_link {
    width: 90%;
}
ul.monster_list a.delete_link {
    width: 9%;
    font-weight: bold;
    font-size: 3em;
}
ul.monster_list div.monster_template_details {
    color: #FFF;
    background-color: rgba(30,30,30,0.7);
    width: 98%;
    padding: 5px;
    margin-top: 3px;
    @include rounded;
}
img.stat_block_preview {
    display: inline-block;
    vertical-align: top;
}
div.monster_data_preview {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

