@import "rounded";

a#new_monster_template_button {
    position: absolute;
    right: 0px;
    width: 100px;
    @include dark_round_button;
}
ul.monster_list {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
ul.monster_list li {
    margin-bottom: 15px;
}
ul.monster_list a {
    display: inline-block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 2em;
    vertical-align: top;
}
ul.monster_list a.edit_link {
    width: 90%;
    @include dark_round_button_left;
}
ul.monster_list a.delete_link {
    width: 9%;
    font-weight: bold;
    font-size: 3em;
    @include dark_round_button_right;
}
ul.monster_list div.monster_template_details {
    width: 98%;
    padding: 5px;
    margin-top: 3px;
    @include dark_round_button;
}
img.stat_block_preview {
    display: inline-block;
    vertical-align: top;
}
div.monster_data_preview {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}